<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans

			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="org.lanqiao.controller" />

	<!-- 视图解析器 -->
	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" 
		/> <property name="prefix" value="/WEB-INF/view/"/> <property name="suffix" 
		value=".jsp"/> </bean> -->

	<bean id="freemarkerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/view/"></property>
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="default_encoding">utf-8</prop>
				<prop key="number_format">0.##</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="classic_compatible">true</prop>
				<!-- 配置自定义的freemarker异常处理 -->
				<!-- <prop key="template_exception_handler">org.ares.exception.FreemarkerExceptionHandler</prop> -->
			</props>
		</property>
	</bean>
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix" value=".ftl"></property>
		<property name="viewClass"
			value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"></property>
			
		<property name="contentType" value="text/html;charset=utf-8"></property>
		<property name="requestContextAttribute" value="base"></property>
	</bean>




	<!-- 设置静态资源 -->
	<mvc:resources location="/static/" mapping="/static/*" />
	<mvc:resources location="/static/css/" mapping="/static/css/**" />
	<mvc:resources location="/static/js/" mapping="/static/js/**" />
	<mvc:resources location="/static/images/" mapping="/static/images/**" />

	<!-- <mvc:default-servlet-handler/> -->

	<mvc:interceptors>
			<mvc:interceptor>
						<mvc:mapping path="/user/list"/>
						<bean class="org.lanqiao.intercepter.IsValidLoginIntercepter"/>
			</mvc:interceptor>
	
	</mvc:interceptors>


  <!--  上传文件 -->
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="utf-8"></property>   
        <property name="maxUploadSize" value="10485760000"></property>  
        <property name="maxInMemorySize" value="40960"></property>  
        <!-- 上传类型 -->
      <!--   <property name="?" value="?"></property>   -->
        
   </bean>  




<!-- 声明式异常处理， -->
<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
    <!-- 定义默认的异常处理页面，当该异常类型的注册时使用 -->  
    <property name="defaultErrorView" value="error/error"></property>  
    <!-- 定义异常处理页面用来获取异常信息的变量名，默认名为exception -->  
    <property name="exceptionAttribute" value="ex"></property>  
    <!-- 定义需要特殊处理的异常，用类名或完全路径名作为key，异常也页名作为值 -->  
    <property name="exceptionMappings">  
        <props>  
            <prop key="org.lanqiao.exception.ParamterException">error-business</prop>  
            <prop key="org.lanqiao.exception.BusinessException">error-parameter</prop> 
            <!-- 这里还可以继续扩展对不同异常类型的处理 -->  
        </props>  
    </property>  
</bean>  


</beans>